<%- include('../partials/header') %>

    <div class="container">
        <br>
        <section id="header" class="jumbotron text-center ">
            <h1 class="display-3">Welcome to CryptoChat Articles</h1>
            <br>
        <a href="/articles/new" class="btn btn-success btn-sm">Add a New Article</a>
    </section>

        <% articles.forEach(function(a) { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%=a.title %>
                    </h4>
                    <div class="card-date text-muted mb-2">
                        <%=a.createdAt %>
                    </div>
                    <div class="card-text mb-2" card-body>
                        <%=a.description %>
                    </div>
                    <div>
                    <a href="articles/<%= a._id %>" class="btn btn-primary btn-sm">Read More</a>
                    <% if (user && a.userId.equals(user._id)) { %>
                        <form action="/articles/<%= a._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">DELETE</button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>


    <%- include('../partials/footer') %>