<%- include('../partials/header') %>

<div class="container">
    <h1 class="mb-4">Articles</h1>
    <a href="/articles/new" class="btn btn-success">New Artcle</a>
   

<% articles.forEach(function(a) { %>
    <div class="card mt-4">
    <div>
        <h3 class="card-body"><%=a.title %></h3>
        <p><%=a.createdAt %></p>
        <p><%=a.description %></p>
    </div>
    <% }); %>
</div>
</div>






<%- include('../partials/footer') %>

