<%- include('../partials/header') %>

<h1>You are now viewing the most up to date cryptocurrencies on the market</h1>

  <% cryptos.forEach(x => { %>
      <h5><%= x.coins.symbol %></h5>
      <h5><%= x.coins.name %></h5>
      <h5><%= x.coins.price_usd %></h5>
      <h5><%= x.coins.btcPrice %></h5>
      <h5><%= x.coins.rank %></h5>
      <!-- <h5><%= x.coins.sparkline %></h5> -->
      <a href="<%= x.coins.coinrankingUrl %>">CoinRanking of <%= x.coins.name %></a>

   <% })  %>



<!-- <table class="stable table-bordered" style="margin-top: 90px"> -->
    <!-- <body>
    <thead>
    <tr>
        <th scope="col">UUID</th>
        <th scope="col">BTC PRICE</th>
        <th scope="col">RANK</th>
        <th scope="col">TIER</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">SYMBOL</th>
    </tr>
    <tbody id="data" ></tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</thead>
</tbody>
</table>
</body> -->

<%- include('../partials/footer') %>