<%- include('../partials/header') %>
<h1>You are now viewing the most up to date cryptocurrencies on the market</h1>

  <% cryptos.forEach(x => { %>
    <form action="/mangas" method="POST">
      <input type="hidden" name="title" value="<%= x.attributes.title.en %>">
      <h3><%= x.attributes.title.en %></h3>
      <input type="hidden" name="description" value="<%= x.attributes.description.en %>" >
      <h5><%= x.attributes.description.en %></h5>
      <input type="hidden" name="status" value="<%= x.attributes.status %>">
      <h5><%= x.attributes.status %></h5>
    <!-- <h5><%= x.attributes.year%></h5> -->
      <input type="hidden" name="coverArtId" value="<%=  JSON.stringify(x.relationships) %>">
    <!-- <h1><%= JSON.stringify(x.relationships[2]) %></h1> -->
    <input type="hidden" name="mangaId" value="<%= x.id %>">
      <button>Add button</button>
    </form>
   <% })  %>



<!-- <table class="stable table-bordered" style="margin-top: 90px"> -->
    <!-- <body>
    <thead>
    <tr>
        <th scope="col">UUID</th>
        <th scope="col">BTC PRICE</th>
        <th scope="col">RANK</th>
        <th scope="col">TIER</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">SYMBOL</th>
    </tr>
    <tbody id="data" ></tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</thead>
</tbody>
</table>
</body> -->

<%- include('../partials/footer') %>