<%- include('../partials/header') %>

    <div class="container">
        <!-- <h1 class="mb-4">Articles</h1> -->

        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">
                    <h2>
                        <%= article.title %>
                    </h2>
                </h4>

                <div class="card-date text-muted mb-2">
                    <p>
                        <%= article.createdAt %>
                    </p>
                </div>

                <div class="card-text mb-2" card-body>
                    <h4>Description</h4>
                    <p>
                        <%= article.description %>
                    </p>
                </div>
            </div>
        </div>

        <br>
        <p>Share Your Thoughts Below!</p>
        <div class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        
                        <form action="/comments/<%= article._id %>/comments" method="POST">
                            <div class="form-group">
                                <label for="comment"></label>
                                <textarea name="description"  class="form-control"></textarea>
                            </div>
                            <br>
                            <button type="Submit" class="btn btn-primary">Add Comment</button>
                        </h4>
                    </form>
                    </div>
                </div>
                <% article.comments.forEach(function(a) { %>
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="card-date text-muted mb-2">
                                <%=a.createdAt %>
                            </div>
                            <div class="card-text mb-2" card-body>
                                <%=a.description %>
                            </div>
                            <div class="card-text mb-2" card-body>
                                <%=a.name %>
                            </div>
                            <form action="/comments/<%= a._id %>?_method=DELETE" method="POST">
                            <button type="delete" class="btn btn-danger">DELETE</button>
                            </form>
                        </div>
                    </div>
                    <% }); %>
            </div>
        
        <%- include('../partials/footer') %>