<%- include('../partials/header') %>



<h2>Title</h2>
<p><%= a.title %></p>
<h2>Created At</h2>
<h2><%= a.createdAt.toLocaleDateString%></h2>
<h2>Description</h2>
<h2><%= a.description %></h2>


<%- include('../partials/footer') %>
